body{
  /*background-image: url("../media/wood3.jpg");*/
  background-color: #f4f4f4;
}
.logo{
  font-family: 'custom', serif;
}
.col-md-4 , .col-md-6 , .col-md-5 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 20px;
  background-color: #fff;
  margin-top: 50px;
  padding-right: -10px;
  border-top: 10px solid #9e9e9e;
}
 .logobanner {
  background-color: #9E9E9E;

 }
.logomain{
  color: white;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

a.navbarColumn  {
  margin: 10px;
}
.logobar{
  display: block;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.logo{
  font-size: 30px;
  margin-right: 50px;
}
.box {
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-bottom: 1px solid #eee;
}
.derecha{
  float: right;
  align-items: center;

}
.izquierda{
  float: left;
}
.apunte {
  font-size: 22px;
}
.fecha {
  font-size: 12px;
  font-style: italic;
}
.banner{
  text-align: center;
}
.autor{
  text-align: left;
}
@font-face {
    font-family: custom;
    src: url("../media/Stonehen.ttf");
}
